
<%- JSON.stringify(userdata) %>

<div class="container">
  <h1>Your apps: <%- userdata.ownApps.length %></h1>
  <div class="row">
<% if(userdata.ownApps.length > 0) { %>
    <div class="panel-group" id="accordion">
  <% _.each(userdata.ownApps, function(app){ %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%- app.id%>">
              <%= app.name %>
            </a>
          </h4>
        </div>
        <div id="collapse<%- app.id%>" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="pull-right">
              <a title="App details" href="/apps/<%- app.id%>/edit"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
            <%= app.description %>
          </div>
        </div>
      </div>


  <% }) %>
    </div>
<% }else{ %>
    <div class="alert alert-info" role="alert">
      Holy guacamole! You don't have any apps!<br />
      <a href="/apps/new" class="btn btn-primary btn-md">Create your first app</a>
    </div>
<% } %>
    <a href="/apps/new" class="pull-right btn btn-primary btn-md">Create new app</a>
  </div>

<% if(userdata.allowedApps.length > 0) { %>
  <h1>Also working on:</h1>
  <div class="row">
    <div class="panel-group" id="accordion">
  <% _.each(userdata.allowedApps, function(app){ %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%- app.id%>">
              <%= app.name %>
            </a>
          </h4>
        </div>
        <div id="collapse<%- app.id%>" class="panel-collapse collapse in">
          <div class="panel-body">
            <%= app.description %>
          </div>
        </div>
      </div>


  <% }) %>
    </div>
<% } %>
  </div>

</div>

